* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.container {
  max-width: 1168px;
  margin: auto;
}
header {
  background-color: #181818;
  padding: 24px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 20px;
}
.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}
header nav ul li {
  margin-left: 32px;
}
header nav li:first-of-type {
  margin-right: 24px;
}
header nav li:last-of-type {
  margin-right: 31px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.link1 {
  font-size: 13px;
}
.link5 {
  color: #000;
  font-size: 16px;
  letter-spacing: 0.4px;
  border-radius: 14px;
  background: #fff;
  padding: 9px 20px 13px 20px;
}
.first-section {
  background-image: url("../image/main_bg.jpg");
  background-size: cover;
  height: calc(100vh - 83px);
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 71px;
  position: relative;
}
.first-section .container {
  max-width: 580px;
  text-align: center;
  margin: inherit;
}
.first-section h3 {
  color: #c0c0c0;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1px;
}
.first-section h1 {
  color: #fff;
  text-align: center;
  font-size: 54px;
  line-height: 59.4px;
  margin-bottom: 18px;
}
.sect1-parag {
  color: #c0c0c0;
  text-align: center;
  font-size: 14px;
}
.icon {
  position: absolute;
  display: flex;
  right: 40px;
  bottom: 41px;
  z-index: 3;
}
.icon li {
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  list-style: none;
  margin-left: 16px;
}
.icon li:before {
  display: inline-block;
  content: "";
  background-image: url("../image/icon2.svg");
  width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-bottom: -5px;
}
.icon li:nth-of-type(2):before {
  background-image: url("../image/icon1.svg");
}
.icon li:nth-of-type(3):before {
  background-image: url("../image/icon3.svg");
  margin-right: 7px;
  width: 32px;
}
.icon li:last-child:before {
  background-image: url("../image/icon4.svg");
  width: 10px;
  margin-right: 5px;
}
.what-we-do {
  background-color: #000;
}
.what-we-do h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 42px;
  padding-bottom: 15px;
  padding-top: 113px;
}
.what-we-do h3 {
  color: #c0c0c0;
  text-align: center;
  font-size: 23px;
  line-height: 30px;
  padding-bottom: 40px;
}
.what-we-do-gali {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.what-gali1 {
  margin-bottom: 16px;
  position: relative;
}
.what-we-do-text {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.what-we-do-text h4 {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.what-we-do-text p {
  color: #c0c0c0;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 15px;
}
.gali-link {
  display: flex;
  align-items: center;
  border-radius: 14px;
  background: #fff;
  text-decoration: none;
  max-width: 143px;
}
.gali-link img {
  width: 32px;
  height: 32px;
  margin: 2px 0px 2px 4px;
}
.gali-link span {
  color: #000;
  font-size: 16px;
  letter-spacing: 0.4px;
  padding: 9px 10px 13px 6px;
}
.third-section-mountain {
  background-image: url("../image/section3_mountain.jpg");
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.third-section-mountain .container {
  max-width: 298px;
  margin: inherit;
}
.third-section-mountain h2 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.third-section-mountain p {
  color: #c0c0c0;
  font-size: 14px;
  padding-right: 62px;
}

.section4-photo {
  background-color: #000;
  min-height: 540px;
  position: relative;
}
.section4-photo:after {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  display: block;
  background-size: cover;
  background-image: url("../image/section4-photo.png");
}
/* after не работает без двух св-в  content: ""; display: block; */
.section4-photo .container {
  max-width: 1240px;
  display: flex;
  align-items: center;
}
/* по сторонам было 100пх от 1440 отняли 200 получилось 1240 */
.section4-photo .container article {
  max-width: 514px;
  padding-top: 173px;
}
.photo-left h3 {
  color: #c0c0c0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 60px;
  padding-bottom: 6px;
}
.par1 {
  color: #fff;
  font-size: 28px;
  line-height: 32px;
  padding-bottom: 14px;
}
.par2 {
  color: #fff;
  font-size: 14px;
  padding-bottom: 20px;
}
.check-link {
  display: flex;
  align-items: center;
  border-radius: 14px;
  background: #fff;
  text-decoration: none;
  max-width: 152px;
}
.check-link img {
  width: 32px;
  height: 32px;
  margin: 5px 0px 5px 4px;
}
.check-link span {
  color: #000;
  font-size: 16px;
  letter-spacing: 0.4px;
  padding: 9px 10px 13px 6px;
}
.section5-leaves {
  background-image: url("../image/section5.jpg");
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.section5-leaves .container {
  max-width: 273px;
  margin: inherit;
}
.section5-leaves h3 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section5-leaves p {
  color: #c0c0c0;
  font-size: 14px;
  padding-right: 87px;
}
.section6 {
  background-color: #000;
}
.section6 .container {
  max-width: 1168px;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 100px;
}
.section6 h3 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 42px;
}
.section6 p {
  color: #c0c0c0;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 40px;
}
.logo-clients {
  display: flex;
  height: 158px;
  padding: 40px 46px;
  justify-content: space-between;
  align-items: center;
}
.section7 {
  background-image: url("../image/section7.jpg");
  background-size: cover;
  min-height: 600px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.section7 .container {
  max-width: 254px;
  margin: inherit;
  padding-right: 106px;
}
.section7 h3 {
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section7 p {
  color: #c0c0c0;
  font-size: 14px;
}
